<!--
* in order to manage all the service end points
  we need to read the parameter that will be sent in the url and then display the corresponding content

* in order to trigger the table use ngIf -->

<article>
  <div class="country">

    <div class="btn-group mr-3">
        <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
        <button class="btn btn-outline-primary specialize" ngbDropdownToggle>Choose Country</button>
        <div class="dropdown-menu specialize" ngbDropdownMenu>
          <button ngbDropdownItem>India</button>
          <button ngbDropdownItem>USA</button>

        </div>
      </div>
    </div>

  </div>

  <!-- edit the tables n each of the div -->
<div class="Books">
    <div class="table">

      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>price</th>
            <th>isbn</th>
            <th>publisher</th>
          </tr>
         </thead>
        <tbody >
          <tr>
           <td>title</td>
           <td>author</td>
           <td>price</td>
           <td>isbn</td>
           <td>publisher</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>
<div class="Bikes">
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
       </thead>
      <tbody >
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="dvds">
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
       </thead>
      <tbody >
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="food">
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
       </thead>
      <tbody >
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<div class="laptops">
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
       </thead>
      <tbody >
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
 <div class="toy">
  <div class="table">

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
       </thead>
      <tbody >
        <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
        </tr>
      </tbody>
    </table>

  </div>
 </div>




</article>

<footer>
  <div class="team">

    <h6>Team Name</h6>
    <p>teamAlpha</p>
    <h6>members</h6>
    <ul>
      <li>AS</li>
      <li>SS</li>
      <li>JK</li>
      <li>DK</li>
      <li>HC</li>
    </ul>

   </div>
</footer>
