<article>
    <div class="country">
  
      <div class="btn-group mr-3">
          <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
          <button class="btn btn-outline-primary specialize" ngbDropdownToggle>Choose Country</button>
          <div class="dropdown-menu specialize" ngbDropdownMenu>
            <button ngbDropdownItem>India</button>
            <button ngbDropdownItem>USA</button>
  
          </div>
        </div>
      </div>
  
    </div>
  
  </article>
  
<p>food works!</p>
