<header>
  <div id="companyname">
     <h2>FidZulu</h2>
  </div>
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/test']">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Toys</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Laptops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Dvds</a>
    </li>
  </ul>
</nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
