<header>
  <div id="companyname">
     <h2>FidZulu</h2>
  </div>
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'books'}]">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'bikes'}]">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'food'}]">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'toys'}]">Toys</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'laptops'}]">Laptops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/service',{'name':'dvds'}]">Dvds</a>
    </li>
  </ul>
</nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
