<header>
  <div id="companyname">
     <h2>FidZulu</h2>
  </div>
<nav>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/books']">Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/bikes']">Bikes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/food']">Food</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/toys']">Toys</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/laptops']">Laptops</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/dvds']">Dvds</a>
    </li>
  </ul>
</nav>
</header>



<main>
  <app-fidzulu></app-fidzulu>
</main>
