*{
  margin: 0px;
  padding: 0px;
}
#companyname{
width: 100%;
background-color:#12151c;
color: white;
}
h2{
  text-align: center;
}

nav{
   background-color:#293241;
   padding: 10px;
 }
a{
  color:white;
  background-color: #0077b6;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
 }

 a:hover{
   padding: 15px;
   transform: 2s left;
 }

 .withoutfooter{
   min-height: 1vh;
 }
